<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>

    <form id="weather-form">
        Enter your city/country: <input type="text" id="address">
        <button type="submit">Search</button>
    </form>

    <p id="error" class="error-message"></p>
    
    <div id="weather-info" style="display: none;">
        <p class="label">Location: <span id="location"></span></p>
        <p class="label">Coordinates: <span id="coordinates"></span></p>
        <p class="label">Temperature: <span id="temperature"></span> °C</p>
        <p class="label">Feels Like: <span id="feelsLike"></span> °C</p>
        <p class="label">Humidity: <span id="humidity"></span> %</p>
        <p class="label">Wind Speed: <span id="windSpeed"></span> km/h</p>
        <p class="label">Condition: <span id="condition"></span></p>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>
