<!DOCTYPE html>
<html>

<head>
     <title>Weather App</title>
     <link rel="stylesheet" href="css/style.css" />
</head>

<body>
     <h2>{{>header}}</h2>

     <form id="form1">
          <input type="text" id="address">
          <button>Search</button>
     </form>
     {{!-- <p id="location"></p>
     <p id="coordinates"></p>
     <p id="temperature"></p>
     <p id="feelsLike"></p>
     <p id="humidity"></p>
     <p id="windSpeed"></p>
     <p id="condition"></p>
     <p id="error"></p> --}}
     <p>Location: <span id="location"></span></p>
     <p>Coordinates: <span id="coordinates"></span></p>
     <p>Temperature: <span id="temperature"></span> °C</p>
     <p>Feels Like: <span id="feelsLike"></span> °C</p>
     <p>Humidity: <span id="humidity"></span> %</p>
     <p>Wind Speed: <span id="windSpeed"></span> km/h</p>
     <p>Condition: <span id="condition"></span></p>
     <p id="error"></p>

     <script src="js/script.js"></script>
</body>

</html>